<!-- Page Header Start -->
<div class="container-fluid image page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Producten toevoegen</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="/Home">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Admin</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<a href="/Orders" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Werkenemers klik hier</a>
<a href="/Products/Overview" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Producten</a>
<a href="/Sauces" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Sauzen</a>
<a href="/Categories" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Categorieën</a>