@{
    ViewData["Title"] = "Home Page";
}
<div class="home-container"></div>
<div class="home-container">
    <div>
        <h1>Openingstijden</h1>
        <p>Ma - Do: 16:00 - 21:00</p>
        <p>Vr - Zo: 15:00 - 22:00</p>
    </div>
    <div>
        <h1>Welkom bij Snackbar</h1>
        <p>Frietweg 21</p>
        <p>1234XX Maastricht</p>
    </div>
    <a href="/Products">
        <img class="button" src="~/Images/friet.png" />
    </a>
    <div class="vertical-line line1"></div>
    <div class="vertical-line line2"></div>
</div>
<div class="home-container">
    <img src="#" alt="Alternate Text" />
    <div>
        <h1>Over ons</h1>
        <p>blablabla story</p>
    </div>
</div>
<div class="home-container">
    <h1>Reviews</h1>
</div>




