@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contactgegevens</h1>
<p>Email: info@patatzaak.com</p>
<p>Telefoon: 123-456-7890</p>

<h2>Openingstijden</h2>
<p>Maandag - Vrijdag: 11:00 - 21:00</p>
<p>Zaterdag - Zondag: 12:00 - 22:00</p>
