@model IEnumerable<Fridayfrietday.Models.OrderDetail>

<h1>Jouw Bestelling</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Product.Name - @item.Quantity x €@item.Product.Price
        </li>
    }
</ul>

<form asp-controller="Orders" asp-action="Checkout" method="post">
    <button type="submit">Bestelling Plaatsen</button>
</form>
